@charset "UTF-8";
:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-dark-gray: #292929;
  --color-medium-gray: #4A4A4A;
  --color-light-gray: #E5DDD5;
  --color-gray: #353535;
  --color-gray-for-header: #242424;
  --color-gray-for-table: #727272;
  --color-creamy: #F8F5F2;
  --color-brown: #6A4D38;
  --color-light-brown: #826550;
}

html {
  height: 100%;
}

.body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr max-content;
      grid-template-rows: 1fr -webkit-max-content;
      grid-template-rows: 1fr max-content;
  min-height: 100vh;
  position: relative;
  font-family: 'PT Sans Narrow', sans-serif;
  font-style: normal;
  background-color: var(--color-creamy);
}

.body--works {
  color: var(--color-black);
}

.container {
  margin: 0 auto;
  padding: 0 64px;
  width: 100%;
  max-width: 1088px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

.logo-wrapper {
  padding-top: 129px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1006px) {
  .logo-wrapper {
    padding-top: 112px;
  }
}

.logo-wrapper--mobile {
  display: none;
}

@media (max-width: 767px) {
  .logo-wrapper--mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 29px 0 26px;
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
        -ms-flex-order: -2;
            order: -2;
    background-color: var(--color-gray-for-header);
  }
}

.logo-wrapper--closed {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media (max-width: 767px) {
  .logo-wrapper--tablet-and-pc {
    display: none;
  }
}

.button {
  width: 100%;
  min-width: 160px;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--color-light-gray);
  background-color: transparent;
  cursor: pointer;
}

.button--dark {
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}

.button--footer {
  border: 1px solid var(--color-medium-gray);
}

.button--reserve {
  margin-bottom: 39px;
  color: var(--color-white);
  background-color: var(--color-light-brown);
}

@media (min-width: 768px) {
  .button--reserve {
    margin-bottom: 76px;
    padding: 20px 50px;
    font-size: 24px;
    line-height: 31px;
  }
}

@media (min-width: 1007px) {
  .button--reserve {
    margin-bottom: 87px;
  }
}

.section-inner {
  padding: 50px 0 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

@media (max-width: 1006px) {
  .section-inner {
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  .section-inner {
    padding: 21px 0 28px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.section-inner--reviews {
  padding: 32px 0 18px;
}

@media (max-width: 767px) {
  .section-inner--reviews {
    padding-top: 27px;
  }
}

.section-title {
  margin-bottom: 40px;
  padding-left: 69px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: var(--color-black);
}

@media (max-width: 1006px) {
  .section-title {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .section-title {
    margin-bottom: 19px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
}

.section-content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.decorative-triangle {
  height: 68px;
  background-color: var(--color-gray);
  background: url(../img/decorative-triangle/white.svg) no-repeat 0 0;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

@media (max-width: 1006px) {
  .decorative-triangle {
    height: 40px;
  }
}

@media (max-width: 767px) {
  .decorative-triangle {
    height: 34px;
  }
}

.decorative-triangle--dark {
  background: url(../img/decorative-triangle/dark.svg) no-repeat 0 0;
}

.decorative-triangle--gray {
  background: var(--color-creamy) url(../img/decorative-triangle/gray.svg) no-repeat 0 0;
}

.decorative-triangle--reviews {
  display: none;
}

@media (max-width: 767px) {
  .decorative-triangle--reviews {
    display: block;
  }
}

.decorative-triangle--works-prices-bottom {
  display: none;
}

@media (max-width: 767px) {
  .decorative-triangle--works-prices-bottom {
    display: block;
  }
}

.decorative-triangle--works-prices-top {
  display: none;
}

@media (max-width: 1199px) {
  .decorative-triangle--works-prices-top {
    display: block;
  }
}

.slider-navigator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-navigator--advantages {
  display: none;
}

@media (max-width: 767px) {
  .slider-navigator--advantages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1006px) {
  .slider-navigator {
    position: absolute;
    bottom: 17px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .slider-navigator {
    bottom: 18px;
  }
}

.slider-navigator--advantages {
  bottom: 33px;
}

.slider-navigator__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 25px;
  background-color: transparent;
}

.slider-navigator__list--reviews {
  background-color: var(--color-creamy);
}

.slider-navigator__item {
  margin-right: 26px;
}

.slider-navigator__item:last-child {
  margin-right: 0;
}

.slider-navigator__button {
  display: block;
  padding: 0;
  width: 7px;
  height: 7px;
  border: 1px solid var(--color-gray);
  background-color: transparent;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  cursor: pointer;
}

.slider-navigator__button--white {
  border-color: var(--color-white);
}

.slider-navigator__button--active {
  background-color: var(--color-gray);
}

.slider-navigator__button--white.slider-navigator__button--active {
  background-color: var(--color-white);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
  background-color: var(--color-black);
}

@media (max-width: 767px) {
  .header {
    height: 100vh;
    background-color: var(--color-brown);
  }
  .header--closed {
    height: auto;
  }
}

@media (max-width: 767px) {
  .header__nav {
    margin: 0 -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .header__nav--closed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
  }
}

.header__btn-toggle-wrapper {
  height: 50px;
  padding: 16px 17px;
  display: none;
  background-color: var(--color-brown);
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

@media (max-width: 767px) {
  .header__btn-toggle-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .header__btn-toggle-wrapper--closed {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header__btn-toggle {
  position: relative;
  display: block;
  width: 36px;
  height: 2px;
  background-color: var(--color-white);
  border: none;
}

.header__btn-toggle::before, .header__btn-toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-white);
  -webkit-border-radius: 1px;
          border-radius: 1px;
}

.header__btn-toggle::before {
  top: -9px;
}

.header__btn-toggle::after {
  top: 9px;
}

.header__btn-toggle--closed {
  background-color: transparent;
}

.header__btn-toggle--closed::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__btn-toggle--closed::after {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .header__list-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1006px) {
  .header__list {
    margin: 0 -10px;
  }
}

@media (max-width: 767px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__item {
  margin-right: 3px;
}

@media (max-width: 767px) {
  .header__item {
    margin-right: 0;
    padding: 13px 21px;
    background-color: var(--color-light-brown);
    -webkit-box-shadow: inset 0px -1px 0px #71543F, inset 0px 1px 0px #886E5B;
            box-shadow: inset 0px -1px 0px #71543F, inset 0px 1px 0px #886E5B;
  }
}

@media (max-width: 767px) {
  .header__item--closed {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__item--closed-current {
    padding-left: 94px;
    text-align: center;
  }
}

.header__link {
  padding: 24px 31px;
  display: block;
}

@media (max-width: 1006px) {
  .header__link {
    padding: 24px 15px;
  }
}

@media (max-width: 767px) {
  .header__link {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .header__button-wrapper--closed {
    display: none;
  }
}

.header__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 21px 24px 26px;
  background-color: transparent;
  border: none;
}

.header__button::before {
  content: "";
  margin: 4px 19px 4px 0;
  position: relative;
  width: 16px;
  height: 16px;
  background-image: url("../../img/header/login-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (max-width: 1006px) {
  .header__button::before {
    margin-right: 0;
  }
}

@media (max-width: 1006px) {
  .header__button {
    padding: 24px 15px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .header__button {
    padding: 17px 19px;
  }
}

.header__button-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
}

@media (max-width: 1006px) {
  .header__button-text {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__button-text {
    display: block;
  }
}

.intro {
  height: 720px;
  min-height: 500px;
  background-color: var(--color-black);
  background: url(../../img/intro/intro-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media (max-width: 1006px) {
  .intro {
    height: 469px;
    min-height: auto;
  }
}

@media (max-width: 767px) {
  .intro {
    display: none;
  }
}

.intro--works {
  min-height: auto;
  height: 379px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1006px) {
  .intro--works {
    height: 285px;
  }
}

@media (max-width: 767px) {
  .intro--works {
    display: none;
  }
}

.stats {
  margin-bottom: -114px;
  background-color: var(--color-gray);
}

@media (max-width: 1006px) {
  .stats {
    margin-bottom: -214px;
  }
}

@media (max-width: 767px) {
  .stats {
    padding-top: 135px;
    margin-bottom: 0;
  }
}

.stats__inner {
  position: relative;
  bottom: 161px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  background-color: var(--color-gray);
}

.stats__inner::before {
  content: "";
  position: absolute;
  top: 37px;
  left: -20px;
  width: 23px;
  height: 23px;
  background: url(../../img/stats/triangle.svg) no-repeat 0 0;
}

@media (max-width: 1006px) {
  .stats__inner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    bottom: 187px;
  }
}

@media (max-width: 767px) {
  .stats__inner {
    position: static;
    margin: 0 -20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    bottom: 187px;
  }
}

.stats__header {
  padding: 32px 0 30px;
  background-color: var(--color-white);
  color: var(--color-black);
}

@media (max-width: 1006px) {
  .stats__header {
    grid-column: 1/-1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .stats__header {
    padding: 28px 20px;
    display: block;
  }
}

.stats__title {
  margin-bottom: 38px;
  padding: 0 34px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

@media (max-width: 1006px) {
  .stats__title {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .stats__title {
    margin-bottom: 13px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }
}

.stats__subtitle {
  padding: 0 34px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

@media (max-width: 767px) {
  .stats__subtitle {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .stats__subtitle-br {
    display: none;
  }
}

.stats__legend-explanation {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}

.stats__legend-explanation--top {
  padding: 0 34px;
  margin-top: 34px;
  color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1006px) {
  .stats__legend-explanation--top {
    margin-top: 24px;
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .stats__legend-explanation--top {
    display: none;
  }
}

.stats__legend-explanation--bottom {
  margin-top: 20px;
  padding: 0;
  display: none;
  text-align: center;
}

@media (max-width: 767px) {
  .stats__legend-explanation--bottom {
    display: block;
  }
}

.stats__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  color: var(--color-white);
}

@media (max-width: 1006px) {
  .stats__list {
    grid-column: 1/-1;
  }
}

@media (max-width: 767px) {
  .stats__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.stats__item {
  padding: 25px 14px 30px 34px;
}

.stats__item:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.05);
}

.stats__item:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.12);
}

.stats__item:nth-child(4) {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 767px) {
  .stats__item:nth-child(4) {
    background-color: rgba(255, 255, 255, 0.12);
  }
}

@media (max-width: 767px) {
  .stats__item {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .stats__definition-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr min-content;
        grid-template-columns: 1fr -webkit-min-content;
        grid-template-columns: 1fr min-content;
  }
}

.stats__number {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
}

@media (max-width: 1006px) {
  .stats__number {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .stats__number {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 40px;
  }
}

.stats__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

@media (max-width: 767px) {
  .stats__description {
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
}

.advantages {
  position: relative;
  background-color: var(--color-gray);
}

.advantages__list {
  padding-top: 30px;
  padding-bottom: 38px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1006px) {
  .advantages__list {
    padding-bottom: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 767px) {
  .advantages__list {
    padding-top: 0;
  }
}

.advantages__item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  padding: 0 30px;
  color: var(--color-white);
}

.advantages__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 95%;
  background-color: var(--color-white);
  opacity: 0.1;
}

.advantages__item:last-child::after {
  content: none;
}

@media (max-width: 1006px) {
  .advantages__item {
    -ms-grid-columns: max-content 1fr;
        grid-template-columns: -webkit-max-content 1fr;
        grid-template-columns: max-content 1fr;
    padding: 40px 0 39px 30px;
  }
  .advantages__item::after {
    height: 1px;
    width: 100%;
    top: unset;
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .advantages__item {
    padding: 33px 20px 40px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .advantages__item::after {
    content: none;
  }
  .advantages__item:nth-child(2) {
    display: none;
  }
  .advantages__item:nth-child(3) {
    display: none;
  }
}

.advantages__img-wrapper {
  margin-bottom: 26px;
  height: 95px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1006px) {
  .advantages__img-wrapper {
    margin-bottom: 0;
    margin-right: 34px;
    padding-top: 5px;
  }
}

@media (max-width: 767px) {
  .advantages__img-wrapper {
    margin-right: 0;
    margin-bottom: 31px;
    padding-top: 0;
  }
}

.advantages__title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

@media (max-width: 1006px) {
  .advantages__title {
    margin-bottom: 12px;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

@media (max-width: 1006px) {
  .advantages__description {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .advantages__description {
    text-align: center;
  }
}

.advantages__decorative-triangles {
  height: 68px;
  background-color: var(--color-gray);
  background: url(../../img/advantages/decoratice-triangles.svg) no-repeat 0 0;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
}

@media (max-width: 1006px) {
  .advantages__decorative-triangles {
    height: 40px;
  }
}

.news {
  background-color: var(--color-creamy);
}

@media (max-width: 767px) {
  .news {
    padding-top: 13px;
  }
}

.news__inner {
  border-bottom: 1px solid var(--color-light-gray);
}

.news__content {
  padding-top: 10px;
}

.news__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1006px) {
  .news__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .news__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }
}

.news__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-column-gap: 21px;
}

@media (max-width: 1006px) {
  .news__item--third {
    display: none;
  }
}

@media (max-width: 767px) {
  .news__item:first-child {
    padding-bottom: 17px;
    border-bottom: 1px solid var(--color-light-gray);
  }
  .news__item:nth-child(2) {
    margin-top: 16px;
    margin-bottom: 51px;
  }
}

.news__time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 11px;
  padding-top: 6px;
  width: 50px;
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.80;
  color: var(--color-white);
  background: url(../../img/news/bg.svg) no-repeat 0 0;
}

.news__time-day {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.news__description {
  padding-right: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-black);
}

@media (max-width: 767px) {
  .news__description {
    padding-right: 5px;
  }
}

.reviews {
  background-color: var(--color-creamy);
}

.reviews__content {
  position: relative;
}

.reviews__slider {
  margin-bottom: 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr 50px;
      grid-template-columns: 50px 1fr 50px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 1006px) {
  .reviews__slider {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}

@media (max-width: 767px) {
  .reviews__slider {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 32px;
  }
}

.reviews__button {
  background-color: transparent;
  background: url(../../img/reviews/arrow.svg) no-repeat center center;
  border: 1px solid var(--color-light-gray);
  cursor: pointer;
}

.reviews__button--back {
  -webkit-box-ordinal-group: -1;
  -webkit-order: -2;
      -ms-flex-order: -2;
          order: -2;
}

.reviews__button--forward {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 767px) {
  .reviews__button {
    display: none;
  }
}

.reviews__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 249px 1fr;
      grid-template-columns: 249px 1fr;
}

@media (max-width: 1006px) {
  .reviews__box {
    -ms-grid-columns: 80px 1fr;
        grid-template-columns: 80px 1fr;
    padding: 30px 30px 35px;
    border: 1px solid var(--color-light-gray);
    border-right: 0;
    border-left: 0;
  }
}

@media (max-width: 767px) {
  .reviews__box {
    -ms-grid-columns: 50px 1fr;
        grid-template-columns: 50px 1fr;
    padding: 0 0 25px;
    border: 0;
  }
}

.reviews__picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__img {
  width: 249px;
}

@media (max-width: 1006px) {
  .reviews__img {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
  }
}

@media (max-width: 767px) {
  .reviews__img {
    -webkit-align-self: start;
        -ms-flex-item-align: start;
                -ms-grid-row-align: start;
            align-self: start;
    -webkit-border-radius: 0;
            border-radius: 0;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.reviews__details {
  padding: 15px 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--color-light-gray);
  border-left: none;
}

@media (max-width: 1006px) {
  .reviews__details {
    padding: 0 0 0 30px;
    border: none;
  }
}

@media (max-width: 767px) {
  .reviews__details {
    padding-left: 20px;
  }
}

.reviews__author {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: var(--color-black);
}

.reviews__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-black);
}

.reviews__list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1006px) {
  .reviews__list-wrapper {
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .reviews__list-wrapper {
    bottom: 18px;
  }
}

.reviews__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 25px;
  background-color: var(--color-creamy);
}

.reviews__item {
  margin-right: 23px;
}

.reviews__item:last-child {
  margin-right: 0;
}

.reviews__item button {
  display: block;
  padding: 0;
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-gray);
  background-color: transparent;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  cursor: pointer;
}

.reviews__item--active button {
  background-color: var(--color-gray);
}

.footer {
  padding: 50px 0 55px;
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}

.footer--index {
  margin-top: 17px;
}

@media (max-width: 767px) {
  .footer--index {
    padding-top: 35px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .footer--works {
    padding-top: 34px;
  }
}

.footer__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  grid-column-gap: 50px;
}

@media (max-width: 1006px) {
  .footer__inner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 45px;
  }
}

@media (max-width: 767px) {
  .footer__inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 26px;
  }
}

.footer__section--developed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}

@media (max-width: 767px) {
  .footer__section--developed {
    margin-top: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1006px) {
  .footer__section--social {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}

@media (max-width: 767px) {
  .footer__section--social {
    margin: 0 -20px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.footer__section-title {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.footer__section-title--address {
  margin-bottom: 23px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
}

@media (max-width: 767px) {
  .footer__section-title--address {
    margin-bottom: 14px;
    text-align: center;
    text-transform: none;
  }
}

@media (max-width: 1006px) {
  .footer__section-title--social {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer__content-wrapper {
    width: 100%;
  }
}

.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

@media (max-width: 767px) {
  .footer__address {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer__tel {
    margin-top: 23px;
    display: block;
    width: 100%;
    min-width: 160px;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
    border: 1px solid var(--color-medium-gray);
    background-color: transparent;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .footer__address-tel {
    display: none;
  }
}

.footer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1006px) {
  .footer__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.footer__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-medium-gray);
}

@media (max-width: 1006px) {
  .footer__item {
    width: 100%;
    height: 101px;
  }
}

@media (max-width: 1006px) {
  .footer__svg-vkontakte {
    width: 23px;
    height: 26px;
  }
}

@media (max-width: 1006px) {
  .footer__svg-facebook {
    width: 18px;
    height: 39px;
  }
}

@media (max-width: 1006px) {
  .footer__svg-instagram {
    width: 39px;
    height: 39px;
  }
}

.footer__social {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3000;
  padding: 48px 70px;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 460px;
  background-color: var(--color-creamy);
  color: var(--color-black);
  -webkit-box-shadow: 0px 30px 50px rgba(0, 1, 1, 0.75);
          box-shadow: 0px 30px 50px rgba(0, 1, 1, 0.75);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .modal {
    padding: 33px 20px 37px;
  }
}

.modal__title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

@media (max-width: 767px) {
  .modal__title {
    font-size: 30px;
    line-height: 30px;
  }
}

.modal__subtext {
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

@media (max-width: 767px) {
  .modal__subtext {
    margin-bottom: 28px;
  }
}

.modal__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__input-wrapper {
  position: relative;
}

.modal__input-wrapper::before {
  content: "";
  position: absolute;
  z-index: 50;
  top: 50%;
  right: 10px;
  width: 14px;
  height: 16px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.modal__input-wrapper--login-email {
  margin-bottom: 6px;
}

.modal__input-wrapper--login-email::before {
  background-image: url(../img/modal/user.svg);
}

.modal__input-wrapper--password {
  margin-bottom: 26px;
}

.modal__input-wrapper--password::before {
  background-image: url(../img/modal/password.svg);
}

.modal__input {
  width: 100%;
  padding: 18px 25px;
  border: 1px solid var(--color-light-gray);
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}

@media (max-width: 767px) {
  .modal__input {
    padding: 9px 19px;
    font-size: 18px;
    line-height: 30px;
  }
}

.modal__form-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  margin-bottom: 33px;
}

@media (max-width: 767px) {
  .modal__form-footer {
    margin-bottom: 24px;
  }
}

.modal__checkbox-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modal__checkbox {
  margin-right: 13px;
  width: 33px;
  height: 33px;
}

.modal__checkbox-label {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

@media (max-width: 767px) {
  .modal__link-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.modal__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .modal__button-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

.modal__submit-button {
  min-width: 130px;
  background-color: var(--color-brown);
  color: var(--color-white);
  border: none;
}

@media (max-width: 767px) {
  .modal__submit-button-text {
    display: none;
  }
}

.modal__button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
}

.modal__button-close::before, .modal__button-close::after {
  content: "";
  position: absolute;
  top: 44%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-white);
  -webkit-border-radius: 1px;
          border-radius: 1px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.modal__button-close::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__button-close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 767px) {
  .modal__button-close {
    position: static;
    width: 100%;
    height: auto;
    min-width: 130px;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-black);
    text-transform: uppercase;
    text-align: center;
    border: 1px solid var(--color-light-gray);
    background-color: transparent;
    cursor: pointer;
  }
  .modal__button-close::before, .modal__button-close::after {
    content: none;
  }
}

.modal__button-close-text {
  display: none;
}

@media (max-width: 767px) {
  .modal__button-close-text {
    display: inline;
  }
}

.page-header {
  margin: 54px 0 79px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1006px) {
  .page-header {
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .page-header {
    padding-top: 109px;
    margin-bottom: 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-header__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: var(--color-black);
}

@media (max-width: 767px) {
  .page-header__title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .page-header__button-wrapper {
    display: none;
  }
}

.page-header__button {
  display: block;
}

@media (min-width: 1007px) {
  .page-header--reserve {
    margin-bottom: 67px;
  }
}

.works-reviews {
  margin-bottom: 93px;
}

@media (max-width: 1006px) {
  .works-reviews {
    margin-bottom: 63px;
  }
}

@media (max-width: 767px) {
  .works-reviews {
    margin-bottom: 28px;
  }
}

.works-reviews__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 39px;
}

@media (max-width: 1006px) {
  .works-reviews__list {
    gap: 41px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .works-reviews__list {
    gap: 20px;
  }
}

.works-reviews__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

@media (max-width: 1006px) {
  .works-reviews__item {
    -ms-grid-columns: 270px 1fr;
        grid-template-columns: 270px 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

@media (max-width: 767px) {
  .works-reviews__item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 280px;
    margin: 0 auto;
  }
}

.works-reviews__item--work-of-month {
  position: relative;
  grid-column: 1/-1;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.works-reviews__item--work-of-month::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 0;
  width: 176px;
  height: 50px;
  background: url(../../img/works/works-reviews/label.svg) 0 0 no-repeat;
}

@media (max-width: 1006px) {
  .works-reviews__item--work-of-month::before {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    right: auto;
    left: 0;
    top: 35px;
  }
}

@media (max-width: 767px) {
  .works-reviews__item--work-of-month::before {
    top: 400px;
  }
}

.works-reviews__item--work-of-month::after {
  content: "РАБОТА МЕСЯЦА";
  position: absolute;
  top: 37px;
  right: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-white);
}

@media (max-width: 1006px) {
  .works-reviews__item--work-of-month::after {
    right: auto;
    left: 20px;
    top: 45px;
  }
}

@media (max-width: 767px) {
  .works-reviews__item--work-of-month::after {
    top: 412px;
  }
}

@media (max-width: 1006px) {
  .works-reviews__item--work-of-month {
    -ms-grid-columns: 270px 1fr;
        grid-template-columns: 270px 1fr;
  }
}

@media (max-width: 767px) {
  .works-reviews__item--work-of-month {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.works-reviews__image {
  width: 294px;
  height: 294px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1006px) {
  .works-reviews__image {
    width: 270px;
    height: 294px;
  }
}

@media (max-width: 767px) {
  .works-reviews__image {
    width: 280px;
    height: 176px;
  }
}

.works-reviews__image--work-of-month {
  width: 480px;
  height: 480px;
}

.works-reviews__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  padding: 30px 30px 30px 35px;
  border: 1px solid var(--color-light-gray);
  border-top: 0;
}

@media (max-width: 1006px) {
  .works-reviews__content {
    padding: 46px 70px 40px 50px;
    border-top: 1px solid var(--color-light-gray);
    border-left: 0;
  }
}

@media (max-width: 767px) {
  .works-reviews__content {
    padding: 19px 23px 31px;
    border: 1px solid var(--color-light-gray);
    border-top: 0;
  }
}

.works-reviews__content--work-of-month {
  padding: 128px 104px 30px 42px;
  border-top: 1px solid var(--color-light-gray);
  border-left: 0;
}

@media (max-width: 1006px) {
  .works-reviews__content--work-of-month {
    padding: 45px 50px 35px;
  }
}

@media (max-width: 767px) {
  .works-reviews__content--work-of-month {
    padding: 17px 23px 22px;
    border: 1px solid var(--color-light-gray);
    border-top: 0;
  }
}

.works-reviews__client-name {
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
}

@media (max-width: 767px) {
  .works-reviews__client-name {
    margin-bottom: 17px;
  }
}

.works-reviews__client-thoughts {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

@media (max-width: 767px) {
  .works-reviews__client-thoughts {
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .works-reviews__client-thoughts--work-of-month {
    margin-bottom: 17px;
  }
}

.works-reviews__services-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
  row-gap: 25px;
}

@media (max-width: 767px) {
  .works-reviews__services-list {
    row-gap: 20px;
  }
}

.works-reviews__services-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-reviews__services-icon {
  margin-right: 14px;
}

.works-prices {
  background-color: var(--color-gray);
  color: var(--color-white);
}

.works-prices__inner {
  padding: 72px 0 83px;
}

@media (max-width: 1006px) {
  .works-prices__inner {
    padding: 45px 0 55px;
  }
}

@media (max-width: 767px) {
  .works-prices__inner {
    padding: 37px 0 22px;
  }
}

.works-prices__title {
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}

@media (max-width: 1006px) {
  .works-prices__title {
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .works-prices__title {
    margin-bottom: 8px;
    font-size: 30px;
    text-align: center;
  }
}

.works-prices__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  grid-column-gap: 60px;
}

@media (max-width: 1199px) {
  .works-prices__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 9px;
  }
}

@media (max-width: 767px) {
  .works-prices__content {
    grid-row-gap: 30px;
  }
}

.works-prices__table-wrapper {
  height: 100%;
}

.works-prices__table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 767px) {
  .works-prices__table {
    margin: 0 auto;
    width: 280px;
  }
}

.works-prices__table-row {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.works-prices__table-data {
  padding: 13px 19px 14px;
  border: 1px solid var(--color-medium-gray);
}

@media (max-width: 1006px) {
  .works-prices__table-data {
    padding: 13px 10px 14px;
  }
}

@media (max-width: 767px) {
  .works-prices__table-data {
    border: 0;
    padding: 13px 0 28px;
  }
}

.works-prices__table-data--number {
  width: 11.42857%;
  text-align: center;
  color: var(--color-gray-for-table);
}

@media (max-width: 767px) {
  .works-prices__table-data--number {
    display: none;
  }
}

.works-prices__table-data--name {
  width: 39.52381%;
  font-weight: 700;
}

@media (max-width: 767px) {
  .works-prices__table-data--name {
    width: 200px;
  }
}

.works-prices__table-data--description {
  width: 25.2381%;
}

@media (max-width: 767px) {
  .works-prices__table-data--description {
    position: absolute;
    left: 0;
    top: 26px;
    width: 200px;
  }
}

@media (max-width: 767px) {
  .works-prices__table-data--price {
    width: 73px;
    text-align: right;
  }
}

.works-prices__span {
  display: none;
}

@media (max-width: 1006px) {
  .works-prices__span {
    display: inline;
  }
}

.works-prices__time-wrapper {
  padding: 35px 64px 24px;
  border: 1px solid var(--color-medium-gray);
}

@media (max-width: 1199px) {
  .works-prices__time-wrapper {
    padding: 21px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
}

@media (max-width: 767px) {
  .works-prices__time-wrapper {
    padding: 16px 21px;
  }
}

.works-prices__clock-image {
  margin-bottom: 25px;
}

@media (max-width: 1199px) {
  .works-prices__clock-image {
    margin-bottom: 0;
    width: 72px;
    height: 71px;
  }
}

@media (max-width: 767px) {
  .works-prices__clock-image {
    width: 58px;
    height: 57px;
  }
}

.works-prices__work-time {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

@media (max-width: 1199px) {
  .works-prices__work-time {
    text-transform: uppercase;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .works-prices__work-time {
    margin-right: 14px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 1199px) {
  .works-prices__break-row {
    display: none;
  }
}

.reserve-section {
  margin: 0 auto;
  width: 280px;
}

@media (min-width: 768px) {
  .reserve-section {
    padding-top: 29px;
    width: auto;
  }
}

@media (min-width: 1007px) {
  .reserve-section {
    padding-top: 0;
  }
}

.reserve-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 1007px) {
  .reserve-form__fieldset--personal-info {
    padding-bottom: 15px;
  }
}

.reserve-form__fieldset--beard-type {
  margin-bottom: 43px;
}

@media (min-width: 768px) {
  .reserve-form__fieldset--beard-type {
    margin-bottom: 55px;
  }
}

.reserve-form__fieldset--additional-service {
  margin-bottom: 47px;
}

@media (min-width: 768px) {
  .reserve-form__fieldset--additional-service {
    margin-bottom: 58px;
    padding-top: 26px;
  }
}

@media (min-width: 1007px) {
  .reserve-form__fieldset--additional-service {
    margin-bottom: 78px;
  }
}

.reserve-form__group {
  margin-bottom: 26px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .reserve-form__group {
    margin-bottom: 32px;
  }
}

@media (min-width: 1007px) {
  .reserve-form__group {
    gap: 35px;
  }
}

@media (min-width: 768px) {
  .reserve-form__group--name-surname {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1007px) {
  .reserve-form__group--contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
}

.reserve-form__group--textarea {
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .reserve-form__group--textarea {
    margin-bottom: 53px;
  }
}

.reserve-form__input, .reserve-form__textarea {
  margin-bottom: 4px;
  padding: 9px 19px 11px;
  width: 100%;
  border: 1px solid var(--color-light-gray);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-black);
}

@media (min-width: 768px) {
  .reserve-form__input, .reserve-form__textarea {
    margin-bottom: 0;
    padding: 20px 25px;
    font-size: 24px;
  }
}

.reserve-form__textarea {
  resize: none;
}

@media (min-width: 768px) {
  .reserve-form__textarea {
    height: 211px;
  }
}

@media (min-width: 768px) {
  .reserve-form__input--name {
    border-right-width: 0;
    border-left-width: 0;
  }
}

@media (min-width: 1007px) {
  .reserve-form__input--name {
    border-right-width: 1px;
    border-left-width: 1px;
  }
}

@media (min-width: 768px) {
  .reserve-form__input--phone {
    margin-bottom: 35px;
  }
}

@media (min-width: 1007px) {
  .reserve-form__input--phone {
    margin-bottom: 0;
  }
}

.reserve-form__input::-webkit-input-placeholder, .reserve-form__textarea::-webkit-input-placeholder {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.reserve-form__input:-ms-input-placeholder, .reserve-form__textarea:-ms-input-placeholder {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.reserve-form__input::-ms-input-placeholder, .reserve-form__textarea::-ms-input-placeholder {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.reserve-form__input::placeholder, .reserve-form__textarea::placeholder {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.reserve-form__legend {
  margin: 0 auto 35px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-black);
}

@media (min-width: 768px) {
  .reserve-form__legend {
    display: -ms-grid;
    display: grid;
    gap: 27px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-grid-columns: 1fr max-content 1fr;
        grid-template-columns: 1fr -webkit-max-content 1fr;
        grid-template-columns: 1fr max-content 1fr;
    font-size: 30px;
    line-height: 39px;
  }
}

@media (min-width: 1007px) {
  .reserve-form__legend {
    margin-bottom: 43px;
  }
}

@media (min-width: 1007px) {
  .reserve-form__legend--checkbox {
    margin-bottom: 36px;
  }
}

.reserve-form__legend::before, .reserve-form__legend::after {
  content: none;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-light-gray);
}

@media (min-width: 768px) {
  .reserve-form__legend::before, .reserve-form__legend::after {
    content: "";
  }
}

.reserve-form__legend::before {
  -ms-grid-column-align: end;
      justify-self: end;
}

.reserve-form__radio-list {
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (min-width: 768px) {
  .reserve-form__radio-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1007px) {
  .reserve-form__radio-list {
    padding: 0 46px;
  }
}

.reserve-form__radio-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.reserve-form__radio-label {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
}

@media (min-width: 768px) {
  .reserve-form__radio-label {
    margin-bottom: 29px;
    font-size: 24px;
    line-height: 31px;
  }
}

.reserve-form__radio-label::before {
  content: "";
  margin-bottom: 10px;
  display: block;
  width: 52px;
  height: 52px;
  background-color: var(--color-white);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid var(--color-light-gray);
}

@media (min-width: 768px) {
  .reserve-form__radio-label::before {
    margin-bottom: 26px;
  }
}

.reserve-form__radio-label::after {
  content: none;
  position: absolute;
  top: 17px;
  left: 50%;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: var(--color-light-brown);
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.reserve-form__radio-input:checked + .reserve-form__radio-label::after {
  content: "";
}

.reserve-form__checkbox-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .reserve-form__checkbox-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 47px 0;
  }
}

@media (min-width: 1007px) {
  .reserve-form__checkbox-list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.reserve-form__checkbox-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
}

@media (min-width: 768px) {
  .reserve-form__checkbox-label {
    padding-right: 35px;
    font-size: 24px;
    line-height: 31px;
  }
}

.reserve-form__checkbox-label::before {
  content: "";
  margin-right: 25px;
  display: block;
  height: 36px;
  width: 36px;
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
}

.reserve-form__checkbox-label::after {
  content: none;
  position: absolute;
  width: 22px;
  height: 16px;
  left: 7px;
  background: url(../img/reserve/arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reserve-form__checkbox-input:checked + .reserve-form__checkbox-label::after {
  content: "";
}
