html {
    height: 100%;
}

.body {
    display: grid;
    grid-template-rows: 1fr max-content;
    min-height: 100vh;
    position: relative;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    background-color: var(--color-creamy);
}

.body--open-menu {
    overflow: hidden;
}

.body--works {
    color: var(--color-black);
}
.body--lock{
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 64px;
    width: 100%;
    max-width: 1088px;
    @media (max-width: $width-mobile) {
        padding: 0 20px;
    }
}

.logo-wrapper {
    padding-top: 129px;
    display: flex;
    justify-content: center;
    @media (max-width: $width-tablet) {
        padding-top: 112px;
    }
}

.logo-wrapper--mobile {
    display: none;
    @media (max-width: $width-mobile) {
        display: flex;
        padding: 29px 0 26px;
        order: -2;
        background-color: var(--color-gray-for-header);
    }
}

.logo-wrapper--closed {
    grid-row: 1/2;
    grid-column: 1/3;
}

.logo-wrapper--tablet-and-pc {
    @media (max-width: $width-mobile) {
        display: none;
    }
}

.logo {}

.logo-img {}

.button {
    width: 100%;
    min-width: 160px;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-black);
    text-transform: uppercase;
    text-align: center;
    border: 1px solid var(--color-light-gray);
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.2s ease;
    &:hover{
        @media (min-width: $width-tablet-start) {
            border-color: var(--color-gray-for-button);
        }
    }
    &:active{       
        background-color: var(--color-gray-for-button);
        border-color: var(--color-gray-for-button);
        color: rgba($color: #000000, $alpha: 0.3);
    }
}

.button--dark {
    color: var(--color-white);
    background-color: var(--color-dark-gray);
}

.button--footer {
    border: 1px solid var(--color-medium-gray);
}

.button--reserve {
    margin-bottom: 39px;
    color: var(--color-white);
    background-color: var(--color-light-brown);
    @media (min-width: $width-tablet-start) {
        margin-bottom: 76px;
        padding: 20px 50px;
        font-size: 24px;
        line-height: 31px;
    }
    @media (min-width: $width-pc-start) {
        margin-bottom: 87px;
    }
}

.section-inner {
    padding: 50px 0 40px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    @media(max-width: $width-tablet) {
        padding-top: 40px;
    }
    @media(max-width: $width-mobile) {
        padding: 21px 0 28px;
        grid-template-columns: 1fr;
    }
}

.section-inner--reviews {
    padding: 32px 0 18px;
    @media(max-width: $width-mobile) {
        padding-top: 27px;
    }
}

.section-title {
    margin-bottom: 40px;
    padding-left: 69px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: var(--color-black);
    @media(max-width: $width-tablet) {
        padding-left: 0;
    }
    @media(max-width: $width-mobile) {
        margin-bottom: 19px;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
    }
}

.section-content {
    grid-row: 2/3;
    grid-column: 1/-1;
}

.decorative-triangle {
    height: 68px;
    background-color: var(--color-gray);
    background: url(../img/decorative-triangle/white.svg) no-repeat 0 0;
    background-size: 100% 100%;
    @media (max-width: $width-tablet) {
        height: 40px;
    }
    @media (max-width: $width-mobile) {
        height: 34px;
    }
}

.decorative-triangle--dark {
    background: url(../img/decorative-triangle/dark.svg) no-repeat 0 0;
}

.decorative-triangle--gray {
    background: var(--color-creamy) url(../img/decorative-triangle/gray.svg) no-repeat 0 0;
}

.decorative-triangle--reviews {
    display: none;
    @media (max-width: $width-mobile) {
        display: block;
    }
}

.decorative-triangle--works-prices-bottom {
    display: none;
    @media (max-width: $width-mobile) {
        display: block;
    }
}

.decorative-triangle--works-prices-top {
    display: none;
    @media (max-width: $width-pc) {
        display: block;
    }
}

.slider-navigator {
    display: flex;
    justify-content: center;
    &--advantages {
        display: none;
        @media (max-width: $width-mobile) {
            display: flex;
        }
    }
    @media (max-width: $width-tablet) {
        position: absolute;
        bottom: 17px;
        left: 50%;
        transform: translateX(-50%);
    }
    @media (max-width: $width-mobile) {
        bottom: 18px;
    }
    &--advantages {
        bottom: 33px;
    }
    &__list {
        display: flex;
        justify-content: center;
        padding: 12px 25px;
        background-color: transparent;
    }
    &__list--reviews {
        background-color: var(--color-creamy);
    }
    &__item {
        margin-right: 26px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__button {
        display: block;
        padding: 0;
        width: 7px;
        height: 7px;
        border: 1px solid var(--color-gray);
        background-color: transparent;
        transform: rotate(45deg);
        transform-origin: center;
        cursor: pointer;
    }
    &__button--white {
        border-color: var(--color-white);
    }
    &__button--active {
        background-color: var(--color-gray);
    }
    &__button--white.slider-navigator__button--active {
        background-color: var(--color-white);
    }
}