html {
    height: 100%;
}

.body {
    display: grid;
    grid-template-rows: 1fr max-content;
    min-height: 100vh;
    position: relative;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    background-color: var(--color-creamy);
}

.body--open-menu {
    overflow: hidden;
}

.body--works {
    color: var(--color-black);
}
.body--lock{
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 64px;
    width: 100%;
    max-width: 1088px;
    @media (max-width: $width-mobile) {
        padding: 0 20px;
    }
}

.logo-wrapper {
    padding-top: 129px;
    display: flex;
    justify-content: center;
    @media (max-width: $width-tablet) {
        padding-top: 112px;
    }
}

.logo-wrapper--mobile {
    display: none;
    @media (max-width: $width-mobile) {
        display: flex;
        padding: 29px 0 26px;
        order: -2;
        background-color: var(--color-gray-for-header);
    }
}

.logo-wrapper--closed {
    grid-row: 1/2;
    grid-column: 1/3;
}

.logo-wrapper--tablet-and-pc {
    @media (max-width: $width-mobile) {
        display: none;
    }
}

.logo {}

.logo-img {}

.button {
    width: 100%;
    min-width: 160px;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-black);
    text-transform: uppercase;
    text-align: center;
    border: 1px solid var(--color-light-gray);
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.2s ease;
    &:hover{
        @media (min-width: $width-tablet-start) {
            border-color: var(--color-gray-for-button);
        }
    }
    &:active{       
        background-color: var(--color-gray-for-button);
        border-color: var(--color-gray-for-button);
        color: rgba($color: #000000, $alpha: 0.3);
    }
}

.button--dark {
    color: var(--color-white);
    &:hover{
        border-color: var(--color-gray-for-button-active);
    }
    &:active{
        border-color: var(--color-gray-for-header);
        color: rgba($color: #ffffff, $alpha: 0.3);
        background-color: var(--color-gray-for-header);
    }   
}

.button--footer {
    border: 1px solid var(--color-medium-gray);
}

.button--reserve {
    margin-bottom: 39px;
    color: var(--color-white);
    background-color: var(--color-light-brown);
    @media (min-width: $width-tablet-start) {
        margin-bottom: 76px;
        padding: 20px 50px;
        font-size: 24px;
        line-height: 31px;
    }
    @media (min-width: $width-pc-start) {
        margin-bottom: 87px;
    }
    color: var(--color-white);
    &:hover{
        background-color: var(--color-brown);
    }
    &:active{       
        color: rgba($color: #ffffff, $alpha: 0.3); 
    }
    &:disabled{        
        background-color: var(--color-button-disabled);
        color: var(--color-white);
        cursor: auto;       
    }  
}

.section-inner {
    padding: 50px 0 40px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    @media(max-width: $width-tablet) {
        padding-top: 40px;
    }
    @media(max-width: $width-mobile) {
        padding: 21px 0 28px;
        grid-template-columns: 1fr;
    }
}

.section-inner--reviews {
    padding: 32px 0 18px;
    @media(max-width: $width-mobile) {
        padding-top: 27px;
    }
}

.section-title {
    margin-bottom: 40px;
    padding-left: 69px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: var(--color-black);   
    @media(max-width: $width-tablet) {
        padding-left: 0;
    }
    @media(max-width: $width-mobile) {
        margin-bottom: 19px;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
    }
    &--reviews{
        @media(max-width: $width-mobile) {
            margin-bottom: 26px; 
        } 
    }
}

.section-content {
    grid-row: 2/3;
    grid-column: 1/-1;
}

.decorative-triangle {
    height: 68px;
    background-color: var(--color-gray);
    background: url(../img/decorative-triangle/white.svg) no-repeat 0 0;
    background-size: 100% 100%;
    @media (max-width: $width-tablet) {
        height: 40px;
    }
    @media (max-width: $width-mobile) {
        height: 34px;
    }
}

.decorative-triangle--dark {
    background: url(../img/decorative-triangle/dark.svg) no-repeat 0 0;
}

.decorative-triangle--gray {
    background: var(--color-creamy) url(../img/decorative-triangle/gray.svg) no-repeat 0 0;
}

.decorative-triangle--reviews {
    display: none;
    @media (max-width: $width-mobile) {
        display: block;
    }
}

.decorative-triangle--works-prices-bottom {
    display: none;
    @media (max-width: $width-mobile) {
        display: block;
    }
}

.decorative-triangle--works-prices-top {
    display: none;
    @media (max-width: $width-pc) {
        display: block;
    }
}

.swiper-pagination-wrapper{
    position: absolute;
    bottom: 17px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    z-index: 100;
    @media(min-width: $width-tablet-start) {          
        bottom: -60px;
    } 
}
.swiper-pagination-wrapper--advatages{
    bottom: 3px;
}
.swiper-pagination-wrapper--advatages-without-swiper{
    display: none;
}
.swiper-pagination{
    display: flex;   
    justify-content: space-between;
}
.swiper-pagination-bullet{
    display: block;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 0;
    border: 1px solid var(--color-gray);
    background-color: transparent;
    transform: rotate(45deg);
    transform-origin: center;
    cursor: pointer;
    transition: opacity 0.3s ease;    
    &-active{
        background-color: var(--color-gray);
    }
    &:hover:not(&-active){       
        opacity: 1;
    }
}
.swiper-pagination-wrapper--advatages .swiper-pagination-bullet{
    border: 1px solid var(--color-white);
    &-active{
        background-color: var(--color-white);
    }
}
// .swiper-slide{
//     max-width: 100%;
//     width: 100%;
// }