:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-dark-gray: #292929;
    --color-medium-gray: #4A4A4A;
    --color-light-gray: #E5DDD5;
    --color-gray: #353535;
    --color-creamy: #F8F5F2;
    --width-tablet-wide: 992px;
    /*Not working :(*/
}


/*so here I am*/

$width-tablet-wide:1006px;
$width-header-button-text: 794px;
$width-tablet:768px;
// import blocks styles
@import 'general';
@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/stats';
@import 'blocks/advantages';
@import 'blocks/news';
@import 'blocks/reviews';
@import 'blocks/footer';