:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-dark-gray: #292929;
    --color-medium-gray: #4A4A4A;
    --color-light-gray: #E5DDD5;
    --color-gray: #353535;
    --color-gray-for-header: #242424;
    --color-gray-for-table: #727272;
    --color-creamy: #F8F5F2;
    --color-brown: #6A4D38;
    --color-light-brown: #826550;
    --color-gray-for-button:#D5C9BD;
}

$width-tablet:1006px;
$width-tablet-start:769px;
$width-mobile:768px;
$width-pc: 1199px;
$width-pc-start:1007px;
// 
$table-width:630px;
// import styles
@import 'general';
@import 'index/header';
@import 'index/intro';
@import 'index/stats';
@import 'index/advantages';
@import 'index/news';
@import 'index/reviews';
@import 'index/footer';
@import 'modal';
@import 'page-header';
@import 'works/works-reviews';
@import 'works/works-prices';
@import 'reserve';