.advantages {
    position: relative;
    background-color: var(--color-gray);
    &__list {
        padding-top: 30px;
        padding-bottom: 38px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: $width-tablet-wide) {
            display: grid;
            grid-template-columns: auto;
        }
    }
    &__item {
        position: relative;
        display: grid;
        padding: 0 30px;
        color: var(--color-white);
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 95%;
            background-color: var(--color-white);
            opacity: 0.1;
        }
        &:last-child::after {
            content: none;
        }
        @media (max-width: $width-tablet-wide) {
            grid-template-columns: max-content 1fr;
            padding: 40px 0 35px;
            &::after {
                height: 1px;
                width: 100%;
                top: unset;
                bottom: 0;
            }
        }
        @media (max-width: $width-tablet) {
            grid-template-columns: 1fr;
            &::after {
                content: none;
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                display: none;
            }
        }
    }
    &__img-wrapper {
        margin-bottom: 33px;
        height: 95px;
        display: flex;
        justify-content: center;
        @media (max-width: $width-tablet-wide) {
            margin-bottom: 0;
            margin-right: 34px;
        }
        @media (max-width: $width-tablet) {
            margin-right: 0;
            margin-bottom: 31px;
        }
    }
    &__img {}
    &__content-wrapper {}
    &__title {
        margin-bottom: 16px;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        @media (max-width: $width-tablet-wide) {
            margin-bottom: 12px;
            text-align: left;
        }
        @media (max-width: $width-tablet) {
            text-align: center;
        }
    }
    &__description {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        @media (max-width: $width-tablet-wide) {
            text-align: left;
        }
        @media (max-width: $width-tablet) {
            text-align: center;
        }
    }
    &__decorative-triangles {
        height: 68px;
        background-color: var(--color-gray);
        background: url(../../img/advantages/decoratice-triangles.svg) no-repeat 0 0;
        background-size: 100% 100%;
        @media (max-width: $width-tablet-wide) {
            height: 40px;
        }
    }
}