.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-white);
    background-color: var(--color-black);
    @media (max-width: $width-mobile) {
        position: fixed;
        height: 100vh;
        background-color: var(--color-brown);
        overflow: auto;
        &--closed {
            position: absolute;
            height: auto;
        }
    }
    &__nav {
        @media (max-width: $width-mobile) {
            margin: 0 -20px;
            display: flex;
            flex-direction: column;
        }
    }
    &__nav--closed {
        @media (max-width: $width-mobile) {
            display: grid;
            grid-template-columns: 1fr 70px;
        }
    }
    &__btn-toggle {
        position: relative;
        display: none;
        padding: 16px 17px;
        height: 50px;
        width: 70px;
        border: none;
        background: rgba(#242424, $alpha: 0.35);
        z-index: 10;
        &::before,
        &::after {
            right: 4px;
            position: relative;
            content: "";
            height: 2px;
            width: 100%;
            background-color: var(--color-white);
            border-radius: 1px;
            transition: all 0.2s ease;
        }
        &::before {
            top: -5px;
            transform: rotate(-45deg);
            transform-origin: right;
        }
        &::after {
            bottom: -4px;
            transform: rotate(45deg);
            transform-origin: right;
        }
        @media (max-width: $width-mobile) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            align-self: end;
            &:active::before, &:active::after{
                opacity: 0.3;
            }
        }
    }
    &__btn-toggle:active &__btn-toggle-middle-line{
        @media (max-width: $width-mobile) {
            &:active{
                opacity: 0.3;
            }
        }
    }
    &__btn-toggle--closed {
        background-color: transparent;
        &::before,
        &::after {
            right: 0;
            content: "";
            height: 2px;
            width: 36px;
            background-color: var(--color-white);
            border-radius: 1px;
            transform: rotate(0);
        }
        &::before {
            top: 15px;
        }
        &::after {
            bottom: 15px;
        }
        @media (max-width: $width-mobile) {
            order: 2;
        }
    }
    &__btn-toggle-middle-line {
        opacity: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-white);
        transition: opacity 0.2s ease;       
    }
    &__btn-toggle-middle-line--closed {
        opacity: 1;
    }
    &__list-wrapper {
        display: flex;
        justify-content: space-between;
        @media (max-width: $width-mobile) {
            flex-direction: column;
        }
    }
    &__list {
        display: flex;
        @media (max-width: $width-tablet) {
            margin: 0 -10px;
        }
        @media (max-width: $width-mobile) {
            margin: 0;
            flex-direction: column;
        }
    }
    &__item {
        margin-right: 3px;
        @media (max-width: $width-mobile) {
            margin-right: 0;
            padding: 13px 21px;
            background-color: var(--color-light-brown);
            box-shadow: inset 0px -1px 0px #71543F, inset 0px 1px 0px #886E5B;
            &:active{
                color: rgba(#ffffff,0.3);
            }
        }
        @media (min-width: $width-tablet-start) {
            &:hover{                
                color: var(--color-light-brown);
            }
            &:active{                
                color: rgba($color: #ffffff, $alpha: 0.3);
            }
        }
        @media(min-width: $width-pc-start) {
            &:hover{
                background-color: var(--color-white);
                color: var(--color-black);
            }
            &:active{
                background-color: var(--color-white);
                color: rgba($color: #000000, $alpha: 0.3);
            }
        }
    }
    &__item--closed {
        @media(max-width: $width-mobile) {
            display: none;
        }
    }
    &__item--current{                      
        &:hover{
            background-color: transparent;
            color: var(--color-white);           
        }
    }
    &__item--current &__link-text{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: -25px;
            left: 0;
            height: 3px;
            width: 100%;
            background-color: var(--color-light-brown);
        }
    }
    
    &__item--current-closed {
        @media(max-width: $width-mobile) {
            padding-left: 94px;
            text-align: center;
            overflow: hidden;
        }
    }
    &__link {
        padding: 24px 31px;
        display: block;
        @media(max-width: $width-tablet) {
            padding: 24px 15px;            
        }
        @media(max-width: $width-mobile) {
            padding: 0;
        }
    }
    &__link-text{

    }
    &__button-wrapper {
        display: flex;
        
        
    }
    &__button-wrapper--closed {
        @media(max-width: $width-mobile) {
            display: none;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        padding: 24px 21px 24px 26px;
        background-color: transparent;
        border: none;  
        cursor: pointer;
        @media(max-width: $width-mobile) {
            width: 100%;
        }
        @media(max-width: $width-tablet) {           
            padding-left: 21px;
        }
        @media(min-width: $width-pc-start){
            &:hover, &:active{               
                background-color: var(--color-white);            
            }
        } 
    }
    @media(max-width: $width-mobile){   
        &__button:active &__button-text{
            color: rgba(#ffffff,0.3);
        }
    }
    @media(min-width: $width-tablet-start){
        &__button:hover &__button-icon{
            g{
                opacity: 1;
            }
            path{
                fill: var(--color-light-brown);
            }
        }              
    }  
    @media(min-width: $width-pc-start){   
        &__button:hover &__button-text{
            color: var(--color-black);
        }
        &__button:hover &__button-icon, &__button:active &__button-icon{
            path{
                fill: var(--color-black);
            }
        }
        &__button:active &__button-icon g{
            opacity: 0.1;
        }
        &__button:active &__button-text {
            color: rgba($color: #000000, $alpha: 0.3);
        }
    }
    &__button-icon{       
        position: relative;
        @media(max-width: $width-mobile) {           
            margin-right: 12px;
        }        
        g{
            opacity:0.3;
        }
        path{
            fill: var(--color-white);
        }
    }
    &__button-text {
        margin-left: 19px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: var(--color-white);
        @media (max-width: $width-tablet) {
            display: none;
        }
        @media (max-width: $width-mobile) {
            margin-left: 0;
            display: block;
        }
    }
}