.reviews {
    background-color: var(--color-creamy);
    @media(min-width: $width-tablet-start) {          
        margin-bottom: 63px;
    }    
    &__content {
        position: relative;
    }    
    &__slider {           
        column-gap: 20px;
        max-width: 100%;            
    }
    &__button {       
        height: auto;         
        background: url(../../img/reviews/arrow.svg) no-repeat center center;
        border: 1px solid var(--color-light-gray);
        cursor: pointer;
        &--back {
            order: -2;
        }
        &--forward {
            transform: rotate(180deg);
        }
        @media(min-width: $width-pc-start) {          
            &:hover{
            background-color: var(--color-light-gray); 
            }
        }
        &:active{
            background-color: #cbc3bb; 
        }
        @media(max-width:$width-mobile) {
            display: none;
        }
    }
    &__inner{
        display: grid;
        grid-template-columns:  50px 1fr 50px;        
        grid-column-gap: 20px;
        @media (max-width: $width-tablet) {
            column-gap: 0;
        }
        @media(max-width:$width-mobile) {
            grid-template-columns: 1fr;
            margin-bottom: 32px;
        }
    }    
    &__box {
        display: grid;
        grid-template-columns: 249px 1fr;
        max-width: 100%;  
        border: 1px solid var(--color-light-gray);      
        @media (max-width: $width-tablet) {
            grid-template-columns: 80px 1fr;
            padding: 30px 30px 35px;           
            border-right: 0;
            border-left: 0;
        }
        @media(max-width:$width-mobile) {
            grid-template-columns: 50px 1fr;
            padding: 0 0 25px;
            border: 0;
        }
    }
    &__picture {       
        display: flex;
        align-items: center;
        @media (min-width: $width-tablet) {
            margin: -1px -1px;
        }
    }
    &__img {
        width: 249px;
        @media (max-width: $width-tablet) {
            align-self: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        @media(max-width:$width-mobile) {
            align-self: start;
            border-radius: 0;
            object-fit: contain;
        }
    }
    &__details {
        padding: 15px 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;        
        border-left: none;
        @media (max-width: $width-tablet) {
            padding: 0 0 0 30px;
            border: none;
        }
        @media (max-width: $width-mobile) {
            padding-left: 20px;
        }
    }
    &__author {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        color: var(--color-black);
    }
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: var(--color-black);
    }
    &__list-wrapper {
        display: flex;
        justify-content: center;
        @media (max-width: $width-tablet) {
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
        }
        @media (max-width: $width-mobile) {
            bottom: 18px;
        }
    }
    &__list {
        display: flex;
        justify-content: center;
        padding: 12px 25px;
        background-color: var(--color-creamy);
    }
    &__item {
        margin-right: 23px;
        &:last-child {
            margin-right: 0;
        }
        button {
            display: block;
            padding: 0;
            width: 10px;
            height: 10px;
            border: 1px solid var(--color-gray);
            background-color: transparent;
            transform: rotate(45deg);
            transform-origin: center;
            cursor: pointer;
        }
        &--active {
            button {
                background-color: var(--color-gray);
            }
        }
    }
}